.container {
    max-width: 120rem;
    margin: 8rem auto;
    background: color(lighter, grey);
    @include boxshadow;

    min-height: 20rem;
}

.header {
    height: 7rem;
    background-color: color(white, grey);
    border-bottom: color(lighter, grey);
}

.content {
    display: flex;
}

.sidebar {
    background-color: color(dark, grey);
    flex: 0 0 18%;
}

.hotel-view {
    background-color: color(white, grey);
    flex: 1;
}