.container {
    max-width: 120rem;
    margin: 8rem auto;
    background: color(grey, lighter);
    @include boxshadow;

    min-height: 20rem;

    @include query-for(landscape) {
        margin: 0;
        max-width: 100%;
    }
}

.header {
    height: 7rem;
    font-size: 1.4rem;
    background-color: color(grey, white);
    @include borderbottom;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include query-for(mobile) {
        flex-wrap: wrap;
        height: 11.5rem;
        align-content: space-around;
    }
}

.content {
    display: flex;
    @include query-for(tablet) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: color(grey, darkest);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: color(grey, white);
    flex: 1;
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background: color(grey, lightest);
    @include borderbottom;

    @include query-for(tablet) {
        padding: 3rem;
    }

    @include query-for(mobile) {
        flex-direction: column;
    }
}

.description {
    flex: 0 0 60%;
    padding: 2.5rem;
    margin-right: 4.5rem;
    background: color(grey, white);
    @include boxshadowlight;

    @include query-for(tablet) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @include query-for(mobile) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}